absl-py==1.1.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
alabaster==0.7.12
anaconda-client==1.9.0
anaconda-navigator==2.1.1
anaconda-project==0.10.1
anyio==3.7.1
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
arviz==0.12.0
asgiref==3.5.0
asn1crypto==1.4.0
astroid==2.6.6
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.2.0
autograd==1.4
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bayesian-optimization==1.2.0
bcrypt==3.2.2
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==2.3.0
black==19.10b0
bleach==4.0.0
blessed==1.19.1
bokeh==2.4.2
boto==2.49.0
boto3==1.14.63
botocore==1.17.63
Bottleneck==1.3.4
branca==0.5.0
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.0.0
catboost==1.0.6
cdsapi==0.6.1
certifi==2023.5.7
cffi==1.15.1
cftime==1.6.0
chardet==4.0.0
charset-normalizer==2.0.4
chart-studio==1.1.0
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
clyent==1.2.2
cma==2.7.0
cmdstanpy==0.9.68
colorama==0.4.4
colorcet==3.0.0
colorful==0.5.4
colorlover==0.3.0
conda==4.12.0
conda-build==3.21.5
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
confluent-kafka==1.9.2
contextlib2==0.6.0.post1
convertdate==2.4.0
cookiecutter==1.7.2
cryptography==38.0.4
cuda-python==11.6.1
cufflinks==0.17.3
cupy==11.0.0
cycler==0.10.0
Cython==0.29.24
cytoolz==0.11.0
dask==2022.3.0
dask-jobqueue==0.7.3
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
descartes==1.1.0
diff-match-patch==20200713
dill==0.3.5.1
dingpy==1.0.6
distlib==0.3.4
distributed==2022.3.0
docutils==0.15.2
dragonfly-opt==0.1.6
dtaidistance==2.3.9
entrypoints==0.3
ephem==4.1.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fabric==2.7.0
fastapi==0.68.2
fastavro==1.4.10
fastcache==1.1.0
fastjsonschema==2.17.1
fastrlock==0.8
filelock==3.3.1
Fiona==1.8.21
flake8==3.9.2
Flask==1.1.2
folium==0.12.1.post1
fonttools==4.25.0
freezegun==1.2.1
frozenlist==1.3.0
fsspec==2021.8.1
future==0.18.2
GDAL==3.5.0
geopandas==0.11.1
geoz==1.6-Experimental
gevent==21.8.0
glob2==0.7
gmpy2==2.0.8
google-api-core==2.8.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.56.1
gpustat==1.0.0b1
GPy==1.10.0
gpytorch==1.7.0
graphviz==0.20
greenlet==1.1.1
grpcio==1.43.0
h11==0.13.0
hdbscan==0.8.29
HeapDict==1.0.1
HEBO==0.3.2
hijri-converter==2.2.3
holidays==0.13
holoviews==1.14.8
html5lib==1.1
hvplot==0.7.3
idna==3.2
imagesize==1.2.0
importlib-metadata==5.2.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
invoke==1.7.1
ipykernel==6.4.1
ipyparallel==6.3.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
JPype1==1.3.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter_client==7.4.9
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter_core==5.3.1
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.24.0
jupyter-server-proxy==3.2.1
jupyter_server_terminals==0.4.4
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.0
keyring==23.1.0
kiwisolver==1.3.1
kmedoids==0.3.3
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.6.0
lazypredict==0.2.12
libarchive-c==2.9
libmambapy==1.1.0
lightgbm==4.1.0
llvmlite==0.39.1
locket==1.0.0
LunarCalendar==0.0.9
lunardate==0.2.0
lxml==4.8.0
lz4==4.0.0
mamba==1.1.0
mapclassify==2.4.3
Markdown==3.3.6
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.2
mccabe==0.6.1
MiniSom==2.3.0
mistune==3.0.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.22.0.dev0
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==6.0.2
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==1.0.0
nbclient==0.5.3
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.6
netCDF4==1.5.8
networkx==2.6.3
nevergrad==0.5.0
nltk==3.6.5
nose==1.3.7
notebook==6.5.4
notebook_shim==0.2.3
numba==0.56.4
numexpr==2.8.1
numpy==1.23.5
nvidia-ml-py3==7.352.0
nvtx==0.2.3
oauthlib==3.2.0
olefile==0.46
opencensus==0.9.0
opencensus-context==0.1.2
openpyxl==3.0.9
overrides==7.3.1
packaging==21.3
pandas==1.4.1
pandocfilters==1.4.3
panel==0.13.0
param==1.12.1
paramiko==2.11.0
paramz==0.9.5
parso==0.8.2
partd==1.2.0
path==16.0.0
pathlib2==2.3.6
pathspec==0.7.0
patsy==0.5.3
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.4
pkginfo==1.7.1
platformdirs==2.5.2
plotly==5.11.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
prophet==1.0.1
protobuf==4.21.10
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-spy==0.3.12
pyaml==21.10.1
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pyct==0.4.6
pycurl==7.45.1
pydantic==1.9.0
pydocstyle==6.1.1
pydub==0.24.1
pyee==8.1.0
pyflakes==2.3.1
pygeos==0.12.0
Pygments==2.10.0
PyJWT==2.1.0
pylint==2.9.6
pyls-spyder==0.4.0
pyluach==1.4.1
PyMeeus==0.5.11
pymoo==0.5.0
PyNaCl==1.5.0
pynvml==11.4.1
pyodbc==4.0.0-unsupported
pyogrio==0.4.1
pyOpenSSL==23.2.0
pyparsing==3.0.4
pyppeteer==1.0.2
pyproj==3.3.1
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.18.0
PySocks==1.7.1
pystan==2.19.1.1
pytest==6.2.4
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.0
pyxdg==0.27
PyYAML==6.0
pyzmq==25.1.0
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.2
qtconsole==5.1.1
QtPy==1.10.0
ray==1.12.1
regex==2021.8.3
requests==2.26.0
requests-oauthlib==1.3.1
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope==0.19.0
rsa==4.8
Rtree==0.9.7
ruamel-yaml-conda==0.15.100
s3transfer==0.3.7
scikit-learn==1.1.1
scikit-learn-extra==0.2.0
scikit-optimize==0.9.0
scipy==1.8.0
seaborn==0.11.2
SecretStorage==3.3.1
selenium==3.141.0
Send2Trash==1.8.0
setuptools==58.0.4
setuptools-git==1.2
sgp4==2.21
shap==0.43.0
Shapely==1.8.2
similaritymeasures==0.4.4
simpervisor==0.4
simpleaudio==1.0.4
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
skyfield-data==4.0.0
slicer==0.0.7
smart-open==6.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==1.4.22
starlette==0.14.2
statsforecast==1.4.0
statsmodels==0.13.5
streamz==0.6.3
sympy==1.9
tabulate==0.8.9
TBB==0.2
tblib==1.7.0
tenacity==8.1.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tinycss==0.4
tinycss2==1.2.1
toml==0.10.2
toolz==0.11.1
torch==1.12.0
tornado==6.3.2
tqdm==4.62.3
traitlets==5.9.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.2
ujson==4.0.2
unicodecsv==0.14.1
Unidecode==1.2.0
uptime==3.0.1
urllib3==1.25.11
uvicorn==0.17.6
virtualenv==20.14.1
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.2
Werkzeug==2.0.2
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.1.1
xarray==2022.3.0
xgboost==1.5.1
xlrd==2.0.1
XlsxWriter==3.0.1
xlwt==1.3.0
xmltodict==0.12.0
xyzservices==2022.6.0
yapf==0.31.0
yarl==1.7.2
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
